<br><br><div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class="text-primary">Phone Contact List</h2>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="newPhonecontact" placeholder="Add new Contact" />
          <button class="btn btn-primary" (click)="addPhonecontact()">Add</button>
        </div>
        
        <ul class="list-group mt-3">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let phonecontact of phonecontact">
            {{ phonecontact }}
            <button class="btn btn-danger btn-sm" (click)="deletePhonecontact(phonecontact)">Delete</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  