<br><br><div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class="text-primary">Presentation List</h2>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="newPresentation" placeholder="Presentation Topic" />
          <button class="btn btn-primary" (click)="addPresentation()">Add</button>
        </div>
        
        <ul class="list-group mt-3">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let presentation of presentationItems">
            {{ presentation }}
            <button class="btn btn-danger btn-sm" (click)="deletePresentation(presentation)">Delete</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  