<br><button type="button" class="btn btn-outline-primary" routerLink="">Student-list</button>
<button type="button" class="btn btn-outline-primary" routerLink="employee">employee List</button>
<button type="button" class="btn btn-outline-primary" routerLink="fruit-list">Fruit List</button>
<button type="button" class="btn btn-outline-primary" routerLink="course-list">Course List</button>
<button type="button" class="btn btn-outline-primary" routerLink="book-list">Book List</button>
<button type="button" class="btn btn-outline-primary" routerLink="city-list">City List</button>
<button type="button" class="btn btn-outline-primary" routerLink="movie-list">Movie List</button>
<button type="button" class="btn btn-outline-primary" routerLink="car-model-list">Car Model List </button>
<button type="button" class="btn btn-outline-primary" routerLink="product-list">Product List</button>
<button type="button" class="btn btn-outline-primary" routerLink="subject-list">Subject List</button>
<button type="button" class="btn btn-outline-primary" routerLink="country-list">Country List</button>
<button type="button" class="btn btn-outline-primary" routerLink="sports-list">Sports List</button>
<button type="button" class="btn btn-outline-primary" routerLink="vegetable-list">Vegetable List</button><br><br>

<button type="button" class="btn btn-outline-primary" routerLink="animal-list">Animal List</button>
<button type="button" class="btn btn-outline-primary" routerLink="tool-list">Tool List</button>
<button type="button" class="btn btn-outline-primary" routerLink="language-list">Language List</button>
<button type="button" class="btn btn-outline-primary" routerLink="game-list">Game List</button>
<button type="button" class="btn btn-outline-primary" routerLink="software-list">Software List</button>
<button type="button" class="btn btn-outline-primary" routerLink="phone-contact-list">Phone Contact List</button>
<button type="button" class="btn btn-outline-primary" routerLink="music-playlist">Music Playlist</button>
<button type="button" class="btn btn-outline-primary" routerLink="food-menu">Food Menu</button>
<button type="button" class="btn btn-outline-primary" routerLink="grocery-list">Grocery List</button>
<button type="button" class="btn btn-outline-primary" routerLink="classroom-list">Classroom List</button>
<button type="button" class="btn btn-outline-primary" routerLink="inventory-list">Inventory List</button>
<button type="button" class="btn btn-outline-primary" routerLink="lecture-list">Lecture List</button><br><br>

<button type="button" class="btn btn-outline-primary" routerLink="stationery-list">Stationery List</button>
<button type="button" class="btn btn-outline-primary" routerLink="flower-list">Flower List</button>
<button type="button" class="btn btn-outline-primary" routerLink="destination-list">Destination List</button>
<button type="button" class="btn btn-outline-primary" routerLink="laptop-list">Laptop List</button>
<button type="button" class="btn btn-outline-primary" routerLink="laptop-specification-list">Laptop Specifications List</button>
<button type="button" class="btn btn-outline-primary" routerLink="computer-hardware-list">Computer Hardware List</button>
<button type="button" class="btn btn-outline-primary" routerLink="mobile-app-list">Mobile App List</button>
<button type="button" class="btn btn-outline-primary" routerLink="video-list">Video List</button>
<button type="button" class="btn btn-outline-primary" routerLink="tv-show-list">TV Show List</button>
<button type="button" class="btn btn-outline-primary" routerLink="furniture-list">Furniture List</button><br><br>


<button type="button" class="btn btn-outline-primary" routerLink="accessory-list">Accessory List</button>
<button type="button" class="btn btn-outline-primary" routerLink="building-list">Building List</button>
<button type="button" class="btn btn-outline-primary" routerLink="painting-list">Painting List</button>
<button type="button" class="btn btn-outline-primary" routerLink="artist-list">Artist List </button>
<button type="button" class="btn btn-outline-primary" routerLink="composer-list">Composer List</button>
<button type="button" class="btn btn-outline-primary" routerLink="podcast-list">Podcast List </button>
<button type="button" class="btn btn-outline-primary" routerLink="exercise-list">Exercise List</button>
<button type="button" class="btn btn-outline-primary" routerLink="meal-plan-list">Meal Plan List</button>
<button type="button" class="btn btn-outline-primary" routerLink="budget-list">Budget List</button>
<button type="button" class="btn btn-outline-primary" routerLink="presentation-list">Presentation List</button><br><br>





<button type="button" class="btn btn-outline-primary" routerLink="tour-list">Tour List</button>
<button type="button" class="btn btn-outline-primary" routerLink="event-list">Event List</button>
<button type="button" class="btn btn-outline-primary" routerLink="development-tools-list">Developer Tools Lis</button>
<button type="button" class="btn btn-outline-primary" routerLink="framework-list">Framework List</button>
<button type="button" class="btn btn-outline-primary" routerLink="library-list">Library List</button>

<router-outlet></router-outlet> 