<br><br><div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="text-primary">Sports List</h2>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="newSports" placeholder="Add new Sports">
                <button class="btn btn-primary" (click)="addSports()">Add</button>
            </div>

            <ul class="list-group mt-3">
                <li class="list-group-item d-flex justify-content-between" *ngFor="let sports of sports">
                    {{sports}}
                    <button class="btn btn-danger btn-sm" (click)="deleteSport(sports)">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</div>
